version: '3.7'
services:
  e2e-electron:
    image: "cypress/included:13.17.0"
    working_dir: /e2e
    command: "--browser electron --config baseUrl=http://from-paris-to-berlin-fe:9000 --env port=9000"
    volumes:
      - ./e2e:/e2e
    networks:
      - paris_to_berlin_net

  e2e-chrome:
    image: "cypress/included:13.17.0"
    working_dir: /e2e
    command: "--browser chrome --config baseUrl=http://from-paris-to-berlin-fe:9000 --env port=9000"
    volumes:
      - ./e2e:/e2e
    networks:
      - paris_to_berlin_net

  e2e-firefox:
    image: "cypress/included:13.17.0"
    working_dir: /e2e
    command: "--browser firefox --config baseUrl=http://from-paris-to-berlin-fe:9000 --env port=9000"
    volumes:
      - ./e2e:/e2e
    networks:
      - paris_to_berlin_net

  e2e-firefox-full:
    image: "cypress/included:13.17.0"
    working_dir: /e2e
    command: "--config-file full.cypress.config.ts --browser firefox --config baseUrl=http://from-paris-to-berlin-fe:9000 --env port=9000"
    volumes:
      - ./e2e:/e2e
    networks:
      - paris_to_berlin_net

  e2e-edge:
    image: "cypress/included:13.17.0"
    working_dir: /e2e
    command: "--browser edge --config baseUrl=http://from-paris-to-berlin-fe:9000 --env port=9000"
    volumes:
      - ./e2e:/e2e
    networks:
      - paris_to_berlin_net
